.logo{
    color: #85CCFF;
    font-weight: bold;
    font-size: 1.4em;
}

.logo-left{
    background-color: #FF69C9;
    color:#fff;
    padding: 3px 5px 3px 8px;
    border-radius: 4px;
}

.logo-right{
    padding: 3px 8px 3px 3px;
    border-radius: 4px;
    margin-left:-2px;
}