*{
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #0C0E27;
    color:#85CCFF;
    height: 100%;
}

a{
    color:#85CCFF;
}

a:hover{
    color:#b1dfff;
}

.shadow{
    box-shadow: 0 8px 12px rgba(0,0,0,0.2), 0 5px 6px rgba(0,0,0,0.3);
}

.section-container{
    padding: 30px;
}

.card-theme {
    background-color: #121833;
    border:none;
    border-radius: 2px;
}

.card-header-theme{
    background-color: #0E132C;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    padding:12px;
}

.card-body-theme{
    background-color: #121833;
}

.cards{
    display: flex;
    flex-direction: column;
}

.section-container{
    padding: 30px;
}